{% load static %}
<div class="contain">
<footer class="footer">
    <div class="navigations">
        <div>
      <ul class="column">
        <b class="title">About us:</b>
        <li class="links"><a href="#">Company</a></li>
        <li class="links"><a href="#">Contact</a></li>
        <li class="links"><a href="#">Careers</a></li>
        <li class="links"><a href="#">Affilates</a></li>
        <li class="links"><a href="#">Stores</a></li>
      </ul>
        </div>
        <div>
      <ul class="column">
        <b class="title">Useful links:</b>
        <li class="links"><a href="#">Support</a></li>
        <li class="links"><a href="#">Refund</a></li>
        <li class="links"><a href="#">FAQ</a></li>
        <li class="links"><a href="#">Feedback</a></li>
        <li class="links"><a href="#">Stories</a></li>
      </ul>
        </div>
        <div>
      <ul class="column">
        <b class="title">Services:</b>
        <li class="links"><a href="#">Venue</a></li>
        <li class="links"><a href="#">Photography</a></li>
        <li class="links"><a href="#">Catering</a></li>
        <li class="links"><a href="#">Music System</a></li>
        <li class="links"><a href="#">Beverages</a></li>
      </ul>
</div >
    <div class="subscriber">
      <b>For subscribtion:</b>
      <input type="text" id="subscribtion" placeholder="youremail@gmail.com">
      <button id="join">Join us</button>
      <b>Follow us</b><br/>
      </div>
    </div>
    </footer>
      
<div class="copy">
  <div id="end">
    <input type="button" id="contact" value="Contact Us" />
    <p>We are HERE for your every needs</p>
  </div>
  <div class="copyright">
    <span class="rights-text"> &copy; @2025 Party Palace Reservation. All rights reserved.</span>
  </div>
</div>
</div>