{% load static %}
<nav class="main-nav">
    <!-- Top section of navigation -->
    <div class="nav-top">
        <!-- Logo -->
        <div class="nav-logo">
            <h1>VenueHub</h1>
        </div>

        <!-- Search Bar -->
        <div class="nav-bottom">
            <div class="nav-links">
                <a href="#" class="nav-link">home</a>
                <a href="#" class="nav-link">about us</a>
                <a href="#" class="nav-link">gallery</a>
                <a href="#" class="nav-link">contact us</a>
            </div>
        </div>

        <!-- Login/Signup buttons -->
        <div class="nav-auth">
            <button class="btn-login">
                <i class="fa-solid fa-user"></i> 
                <span>Login</span>
            </button>
            <button class="btn-signup">
                <i class="fa-solid fa-user"></i> 
                <span>Signup</span>
            </button>
        </div>
    </div>
    <!-- Bottom section with navigation links -->
     <div class="navbot">
         <div class="category">
             <button class="cat">
                catgeory
             </button>
        </div>
        <div class="nav-search">
            <input type="text" placeholder="Search venues..." class="search-input" aria-label="Search">
            <button type="submit" class="search-button">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </div>
    
</nav>
  
    
   